@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  margin: 10px;
  padding: 0;
}

h1,
h2,
p,
a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  margin-bottom: 8px;
}

p,
a,
li {
  margin-top: 21px;
  /* font-family: "Lora"; */
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}
