---
import Social from "./Social.astro";
const username = "michaelstudies";
---

<footer>
  <div class="footer-content">
    <h3>Gołębie!</h3>
    <p>
      <Social platform="Github" username={`${username}`} />
    </p>
  </div>
</footer>
