---
import Social from "./Social.astro";
const gh_username = "3centroids";
---

<footer>
  <div class="footer-content">
    <p>
      <Social platform="Github" username={`${gh_username}`} />
    </p>
    <p>¯\_(ツ)_/¯</p>
  </div>
</footer>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
  
  .footer-content {
    text-align: center;
  }

  p {
    font-family: 'Space Mono', monospace;
  }
</style>