---
---

<div class="nav-links">
  <button>
    <a href="/">Strona Główna</a>
  </button>
  <button>
    <a href="/pigeons/">Gołębie</a>
  </button>
  <button>
    <a href="/pigeons/why/">Dlaczego gołębie</a>
  </button>
</div>
