---
import PigeonList from "./PigeonList.astro";
---

<div class="tree-links">
  <h2>DRZEWO NAWIGACYJNE:</h2>
  <ul>
    <li>
      <a href="/">Strona Główna</a>
    </li>
    <li>
      <a href="/pigeons/">Gołębie</a>
      <PigeonList />
    </li>
    <li>
      <a href="/pigeons/why/">Dlaczego gołębie?</a>
    </li>
  </ul>
</div>

<style>
  li {
    margin: 16px;
  }

  h2,
  a {
    color: #315361;
    font-size: 24px;
  }
</style>
